* {
    outline: none !important;
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body {
    /* background: #555; */
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #ddd;
    transition: 150ms;
}

a:hover {
    color: #fff;
}

.newsubmitBtn {
    margin: 0px;
    width: 100%;
}

#report_container {
    width: 100%;
}

#ban_report {
    display: none;
    width: 32vw;
}

#basic_report {
    display: inline-block;
    width: 32vw;
}

#punishment_report {
    display: none;
    width: 32vw;
}

#navBar span {
    color: #888 !important;
}

.submitBtn {
    margin: 0;
    border: none;
    padding: 20px;
    font-size: 40px;
    width: 100%;
    background-color: #222;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    -webkit-transition: .4s ease;
    transition: .4s ease;
}

.submitBtn:hover {
    color: #333;
    background-color: #00c5ff;
    transition-delay: .4s;
    border: none;
}

.submitBtn:after {
    content: '';
    display: block;
    border-top: 0px solid #ddd;
    width: 0;
    position: absolute;
    right: 50%;
    top: 0;
    -webkit-transition: .4s ease;
    transition: .4s ease;
}

.submitBtn:hover:after {
    border-top: 8px solid #00c5ff;
    width: 100%;
    right: 0;
}

@media (max-width: 700px) {
    #ban_report {
        width: 100%;
    }

    #basic_report {
        width: 100%;
    }

    #punishment_report {
        width: 100%;
    }
}

#case_info h1 {
    margin: 10px;
}

#case_info h2 {
    margin: 10px;
}

#staff_info h1 {
    margin: 10px;
}

#staff_info h2 {
    margin: 10px;
}

#staff_info p {
    margin: 10px;
}

#guide_info h1 {
    margin: 10px;
}

#guide_info h2 {
    margin: 10px;
}

#guide_info p {
    margin: 10px;
}

#case_info p {
    margin: 10px;
}

#case_info span {
    font-weight: bold;
}

p#case {
    text-align: justify;
    margin: 10px;
    color: #999;
}

#case_info a {
    color: #aaa;
    text-decoration: none;
    transition: 150ms;
}

#case_info a:hover {
    color: #fff;
}

#staff_info span {
    font-weight: bold;
}

#staff_info a {
    color: #aaa;
    text-decoration: none;
    transition: 150ms;
}

#staff_info a:hover {
    color: #fff;
}

#guide_info span {
    font-weight: bold;
}

#guide_info a {
    color: #aaa;
    text-decoration: none;
    transition: 150ms;
}

#guide_info a:hover {
    color: #fff;
}

.form-button {
    width: calc(90% + 12.5px);
    margin: 2.5px 15px;
    padding: 5px;
    color: #fff;
    background-color: #222;
    border: 0px solid transparent;
    transition: .3s;
}

.form-button:hover {
    border: 0px solid transparent;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.form-btn-cont {
    width: calc(90% + 12.5px);
    margin-left: 15px;
}

.form-button-h:hover {
    border: 0px solid transparent;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.form-button-h {
    width: calc(50%);
    margin: 5px 0px 0px 0px;
    padding: 5px;
    color: #fff;
    background-color: #222;
    border: 0px solid transparent;
    transition: .3s;
}

.card {
    box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.3);
    margin: 50vh auto auto;
    transform: translateY(-50%);
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.card h2 {
    text-align: left !important;
    margin: 0;
}

.card-sm {
    width: 400px;
}

.card-head {
    background-color: #1c1b30;
    padding: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-body {
    background-color: #2e2c46;
}

.card-body input {
    display: block;
    margin: 0px;
    padding: 12px;
    background-color: #2e2c46;
    color: #fff;
    width: 100%;
    font-size: 14px;
    transition: 150ms;
    border-bottom: 1px #2c2f50 solid;
    box-shadow: 0 0 0 0 transparent;
}

.card-body input:focus {
    border-bottom: 1px #fff solid;
}

.card-footer button {
    width: 100%;
    height: 60px;
    margin: 0px;
    background-color: #2e2c46;
    border: none;
    cursor: pointer;
    transition: 200ms;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.card-footer button:hover {
    background-color: #4e4c79;
}

.loginselector button {
    width: 50%;
    height: 60px;
    margin: 0;
    background-color: #181830;
    border: none;
    cursor: pointer;
    transition: 200ms;
}

.loginselector button:hover {
    background-color: #2e2c46;
}

.login {
    margin: 0;
    padding: 0;
}

.signup {
    margin: 0;
    padding: 0;
}

#staff_info h2 {
    text-align: justify;
}

#navBar {
    background-color: #333;
    height: 43px;
    width: 100vw;
    padding: 12px 0px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

#navBar #mainLinks {
    max-width: 80%;
    overflow-x: auto;
    overflow-y: hidden;
}

#navBar a {
    cursor: pointer;
    padding: 12px;
    display: inline;
}

.grid__col {
    padding: 0px !important;
}

#reports {
    height: calc(100vh - 10px);
    overflow-y: auto;
}

#staff {
    height: calc(100vh - 70px);
    overflow-y: auto;
}

#loadMore {
    position: fixed;
    bottom: 20px;
    left: 25px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

#navBar a:hover {
    color: #0092ff;
    background-color: #444;
}

.cases-container {
    display: block;
}

.daily-cases {
    display: inline-block;
    width: calc(50% - 40px);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #3c3b62;
}

.weekly-cases {
    display: inline-block;
    width: calc(50% - 40px);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #3c3b62;
}

.flashred {
    animation-name: flashred;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes flashred {
    0% {
        color: #8b0000;
    }
    50% {
        color: #c00;
    }
    100% {
        color: #8b0000;
    }
}

.reportTypes {
    display: none;
    border-right: 2px #222 solid;
    border-left: 2px #222 solid;
}

.input-cnp {
    display: inline-flex;
    color: #fff;
    width: calc(100% - 16px);
    padding: 8px;
    background-color: #222;
    border: none;
    border-radius: 5px;
    margin: 15px auto;
}